@font-face {
  font-family: "_Lato-Bold";
  src: url("../fonts/Lato-Bold.eot");
  src: local("☺"), url("../fonts/Lato-Bold.woff") format("woff"),
    url("../fonts/Lato-Bold.ttf") format("truetype"),
    url("../fonts/Lato-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato-Regular.ttf") format("truetype"),
    url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RedHatDisplay-Medium";
  src: url("../fonts/RedHatDisplay-Medium.eot");
  src: local("☺"), url("../fonts/RedHatDisplay-Medium.woff") format("woff"),
    url("../fonts/RedHatDisplay-Medium.ttf") format("truetype"),
    url("../fonts/RedHatDisplay-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "RedHatDisplay-Regular";
  src: url("../fonts/RedHatDisplay-Regular.eot");
  src: local("☺"), url("../fonts/RedHatDisplay-Regular.woff") format("woff"),
    url("../fonts/RedHatDisplay-Regular.ttf") format("truetype"),
    url("../fonts/RedHatDisplay-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "RedHatDisplay-SemiBold";
  src: url("../fonts/RedHatDisplay-SemiBold.eot");
  src: local("☺"),
    url("../fonts/RedHatDisplay-SemiBold.woff") format("woff"),
    url("../fonts/RedHatDisplay-SemiBold.ttf") format("truetype"),
    url("../fonts/RedHatDisplay-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
