/* styling for header starts */
.wrapper {
  min-width: 1170px;
  margin: 0 auto;
  max-width: 1800px;
}

section {
  margin-bottom: 90px;
}

.header__wrapper {
  height: 100px;
  display: block;
  position: relative;
  padding-top: 40px;
}

.header {
  height: 100px;
}

.nav-burger {
  display: none;
}

.nav-close-button {
  display: none;
}

.header__tools {
  display: inline-block;
  width: 17px;
  position: absolute;
  right: 135px;
  top: 40px;
}

.header__nav {
  display: inline-block;
  top: 40px;
  right: 236px;
  max-width: 519px;
  background: none;
}
.header__nav .nav__item {
  display: inline;
  margin-right: 42px;
  padding-left: 0;
}
.header__nav .nav__item a {
  display: inline;
}
.header__nav .nav__item .nav-item:last-child {
  margin-right: 0;
}

/* styling for header ends */
/* styling for hero section starts */
.hero {
  height: 600px;
}
.hero img {
  height: 600px;
}

.hero__title {
  top: 100px;
  font-size: 48px;
  line-height: 64px;
}

/* styling for hero section ends */
/* styling for blog starts */
.blog__title {
  text-align: start;
  font-size: 48px;
  line-height: 64px;
}

.blog__article {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.blog__article div {
  width: 100%;
  height: 300px;
}
.blog__article div .subtitle {
  font-size: 23px;
  margin-right: 120px;
}
.blog__article div .info {
  padding-top: 50px;
  padding-bottom: 0;
  height: 131px;
  margin-right: 120px;
}
.blog__article .photo {
  width: 50%;
  margin-right: 0;
  max-width: 49%;
}

.blog__article:last-child {
  justify-content: end;
}
.blog__article:last-child .photo {
  margin-right: 0;
  margin-left: 0;
}
.blog__article:last-child div {
  padding-left: 120px;
}
.blog__article:last-child div .subtitle {
  margin-right: 0;
}
.blog__article:last-child div .info {
  margin-right: 0;
}

/* styling for latest posts starts */
.latest-posts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.latest-posts__title-section {
  grid-column-start: 1;
  grid-column-end: 4;
}

.latest-posts__article {
  flex-direction: column;
  justify-content: start;
  min-width: 370px;
  margin: 0;
}
.latest-posts__article img {
  margin: 0;
  width: 100%;
  max-width: 580px;
}

.latest-posts__article:nth-child(odd) img {
  order: 0;
  margin: 0;
}
.latest-posts__article:nth-child(odd) div {
  order: 0;
}

/* styling for latest posts ends */
/* styling for mos popular starts */
.most-popular_wrapper {
  grid-column-gap: 30px;
}

.most-popular__article {
  width: 100%;
}

/* styling for most popular ends */
/* styling for extra-info */
.extra-info__wrapper {
  display: flex;
  justify-content: space-between;
}
.extra-info__wrapper div {
  max-width: 470px;
}
.extra-info__wrapper div:last-child p {
  margin: 0;
  text-align: start;
}
.extra-info__wrapper div:last-child p:last-child {
  margin-top: 45px;
}

/* styling for extra-info starts */
/* styling for footer starts */
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__wrapper .social--media {
  margin: 0;
}
.footer__wrapper p {
  width: 100%;
}

/* styling for footer ends */

/*# sourceMappingURL=dekstop.css.map */
